/* Pre set size */
:root {
	--fs-h1: 2rem;
	--fs-h2: 1.5rem;
	--fs-h3: 1.1rem;
	--fs-body: 0.7rem;
	--clr-body-bg: #FFF;
	--clr-border: #ddd;
	--clr-banner-active: #059;
	--clr-search-bar-hover: #004a87;
}
@media (min-width: 600px) {
	:root {
		--fs-h1: 3rem;
		--fs-h2: 2.25rem;
		--fs-h3: 1.125rem;
		--fs-body: 0.8rem;
	}
}
@media (min-width: 900px) {
	:root {
		--fs-h1: 3.5rem;
		--fs-h2: 2.75rem;
		--fs-h3: 1.125rem;
		--fs-body: 1rem;
	}
}

/* General styles */
* {
  box-sizing: border-box;
}
html {
	background: #DCE3E6;
}
body {
	font-family: 'Poppins', sans-serif;;
	background: var(--clr-body-bg);
	box-shadow: 0 .3em 1em #000;
	line-height: 1.6;
	margin: 0 auto;
    width: 90%;
	padding-bottom: 1rem;
}
h1,h2,h3 {
	line-height: 1.1;
	margin: 0;
}
a {
	color: inherit;
	text-decoration: none;
}

/* Input box styles */
input[type=text], textarea, select {
	width: 100%;
	padding: 0.5rem 0.5rem;
	margin: 0.5rem 0;
	border: 1px solid var(--clr-border);
	border-radius: 4px;
	box-sizing: border-box;
	outline: none;
}
input[type=text]:focus, textarea:focus, select:focus {
	box-shadow: 0 0 0 2px #09C;
}
label {
	font-size: 1rem;
	padding-right: 1rem;
}
input[type=submit]:hover {
	background-color: var(--clr-search-bar-hover);
}


.title_area {
	height: 4rem;
	margin: 0 auto;
	background: #EEE;
	color: #000;
	border-bottom: double 8px var(--clr-border);

	display: flex;
	align-items: center;
	justify-content: center;
}
@media (min-width: 600px) {
	.title_area {
		height: 5rem;
	}
}
.title_area--title {
	font-size: var(--fs-h1);
	font-weight: normal;
}

.banner {
	height: 2rem;
	border-bottom: solid 3px var(--clr-border);
	display: flex;
	align-items: center;
}
.banner_item {
	padding: 0 0.5rem 0 0.5rem;
	height: 100%;
	font-size: var(--fs-h3);
	color: inherit;
	text-decoration: none;
}
.banner_item:hover {
	background: var(--clr-border);
	color: var(--clr-banner-active);
}
.banner_item--active {
	border-bottom: solid 3px var(--clr-banner-active);
	color: var(--clr-banner-active);
}
.banner_item--nonactive {
	border-bottom: solid 3px var(--clr-body-bg);
}
.banner_item--nonactive:hover {
	border-bottom: solid 3px var(--clr-border);
}
