
/* Pre set style */
:root {
	--ff-ariel: 'Ariel', sans-serif;

	--fs-h1: 2rem;
	--fs-h2: 1.5rem;
	--fs-h3: 1.1rem;
	--fs-body: 1rem;

	--fs-border: 0.15rem;
}

@media (min-width: 600px) {
	:root {
		--fs-h1: 3rem;
		--fs-h2: 2.25rem;
		--fs-h3: 1.125rem;
		--fs-body: 1rem;
	}
}

@media (min-width: 900px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 2.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}

/* General styles */
html {
	height: 100%;
}
body {
	font-family: var(--ff-ariel);
	font-size: var(--fs-body);
	margin: 0;
	line-height: 1.6;
	height: 100%;
}

h1,h2,h3 {
	line-height: 1.1;
	margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.wrapper{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}
.title_area {
	position: relative;
	text-align: center;
	margin: 0 auto;
}

