/* Pre set style */
:root {
	--ff: 'Poppins', sans-serif;

	--fs-h1: 2rem;
	--fs-h2: 1.5rem;
	--fs-h3: 1.1rem;
	--fs-body: 1rem;

	--clr-bg: #DCE3E6;
	--clr-wrapper-bg: #FFFFFF;
	--clr-header-bg: #eee;
	--clr-header-fg: #000;
	--clr-border: #ddd;
	--clr-banner-hover-bg: #DDD;
	--clr-banner-hover-fg: #059;
	--clr-banner-active: #059;
	--clr-banner-active-hover: #004a87;
}

@media (min-width: 600px) {
	:root {
		--fs-h1: 3rem;
		--fs-h2: 2.25rem;
		--fs-h3: 1.125rem;
		--fs-body: 1rem;
	}
}

@media (min-width: 900px) {
	:root {
		--fs-h1: 3.5rem;
		--fs-h2: 2.75rem;
		--fs-h3: 1.125rem;
		--fs-body: 1rem;
	}
}

/* General styles */
html {
	background: var(--clr-bg);
	height: 100%;
}
body {
	font-family: var(--ff);
	font-size: var(--fs-body);
	background: var(--clr-wrapper-bg);
	box-shadow: 0 .3em 1em #000;
	line-height: 1.6;
    position:absolute;
	margin: 0 auto;
	height: 100%;
    width: 90%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}

h1,h2,h3 {
	line-height: 1.1;
	margin: 0;
}

h1 {
	font-size: var(--fs-h1);
	font-weight: normal;
}
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

a {
	color: inherit;
	text-decoration: none;
}

/* Header area */
.title_area {
	height: 4rem;
	margin: 0 auto;
	background: var(--clr-header-bg);
	color: var(--clr-header-fg);
	border-bottom: double 8px var(--clr-border);

	display: flex;
	align-items: center;
	justify-content: center;
}
@media (min-width: 600px) {
	.title_area {
		height: 5rem;
	}
}
.banner {
	height: 2rem;
	border-bottom: solid 3px var(--clr-border);
	display: flex;
	align-items: center;
}
.banner_item {
	padding: 0 0.5rem 0 0.5rem;
	height: 100%;
	font-size: var(--fs-h3);
}
.banner_item:hover {
	background: var(--clr-banner-hover-bg);
	color: var(--clr-banner-hover-fg);
}
.banner_item--active {
	border-bottom: solid 3px var(--clr-banner-active);
	color: var(--clr-banner-active);
}


.main_page {
	width: 90%;
	margin: 0 auto;
}

/* Search area */
.search_area {
	padding: 0.5rem 0;
	border-bottom: 2px solid var(--clr-border);
	margin-bottom: 1rem;
}
.item_block {
		display: grid;
		grid-template-rows: 100% 100%;
		grid-template-columns: 100%;
}
/* @media (min-width: 900px) { */
/* 	.item_block { */
/* 		grid-template-columns: 20% 80%; */
/* 		grid-template-rows: 100%; */
/* 		align-items: center; */
/* 	} */
/* } */
/* @media (min-width: 1100px) { */
/* 	.item_block { */
/* 		grid-template-columns: 15% 85%; */
/* 		grid-template-rows: 100%; */
/* 		align-items: center; */
/* 	} */
/* } */
#search_area label {
	font-size: var(--fs-body);
	padding-right: 1rem;
}
#search_area input[type=text], #search_area select {
	padding: 0.5rem 0.5rem;
	margin: 0.5rem 0;
	border: 1px solid var(--clr-border);
	border-radius: 4px;
	box-sizing: border-box;
}
.submit_buttom_area {
	display: flex;
	justify-content: right;
}
#search_area input[type=submit] {
	background-color: var(--clr-banner-active);
	color: #FFF;
	padding: 0.5rem 5rem;
	margin: 0.5rem 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
#search_area input[type=submit]:hover {
	background-color: var(--clr-banner-active-hover);
}

/* Table area */
#effector_sequence_table {
	width: 100%;
	border-collapse: collapse;
}
#effector_sequence_table th {
	padding: 0.5rem 0 0.5rem 0.5rem;
	text-align: left;
	background-color: var(--clr-banner-active);

	border: 1px solid var(--clr-border);
	color: #FFF;
}
#effector_sequence_table tr:nth-child(even) {
	background-color: #f2f2f2;
}
#effector_sequence_table tr:hover {
	background-color: #ddd;
}
#effector_sequence_table td{
	padding: 0.5rem 0 0.5rem 0.5rem;
	text-align: left;
	border: 1px solid var(--clr-border);

}
