/* Pre set size */
:root {
	--fs-h1: 2rem;
	--fs-h2: 1.5rem;
	--fs-h3: 1.1rem;

	--clr-border: #ddd;
	--clr-banner-active: #059;
}

@media (min-width: 600px) {
	:root {
		--fs-h1: 3rem;
		--fs-h2: 2.25rem;
		--fs-h3: 1.125rem;
	}
}

@media (min-width: 900px) {
	:root {
		--fs-h1: 3.5rem;
		--fs-h2: 2.75rem;
		--fs-h3: 1.125rem;
	}
}

/* General styles */
html {
	background: #DCE3E6;
	height: 100%;
}
body {
	font-family: 'Poppins', sans-serif;;
	background: #FFF;
	box-shadow: 0 .3em 1em #000;
	line-height: 1.6;
    position:absolute;
	margin: 0 auto;
	height: 100%;
    width: 90%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}
h1,h2,h3 {
	line-height: 1.1;
	margin: 0;
}

.title_area {
	height: 4rem;
	margin: 0 auto;
	background: #EEE;
	color: #000;
	border-bottom: double 8px var(--clr-border);

	display: flex;
	align-items: center;
	justify-content: center;
}
@media (min-width: 600px) {
	.title_area {
		height: 5rem;
	}
}
.title_area--title {
	font-size: var(--fs-h1);
	font-weight: normal;
}

.banner {
	height: 2rem;
	border-bottom: solid 3px var(--clr-border);
	display: flex;
	align-items: center;
}
.banner_item {
	padding: 0 0.5rem 0 0.5rem;
	height: 100%;
	font-size: var(--fs-h3);
	color: inherit;
	text-decoration: none;
}
.banner_item:hover {
	background: var(--clr-border);
	color: var(--clr-banner-active);
}
.banner_item--active {
	border-bottom: solid 3px var(--clr-banner-active);
	color: var(--clr-banner-active);
}
