/* Buttons */
.button_area {
	display: grid;
	word-wrap: break-word;
	grid-template-columns: 67% 15% 15%;
	font-size: var(--fs-body);
	align-items: center;
}
@media (min-width: 900px) {
	.button_area {grid-template-columns: 70% 15% 15%;}
}
.button {
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	color: #FFF;
	margin: 1rem;
	padding: 0.5rem;
}
.back_button {
	background-color: var(--clr-banner-active);
	width: 12rem;
}
.edit_button {
	width: 80%;
	background-color: var(--clr-banner-active);
}
.delete_button {
	width: 80%;
	background-color: #d60000;
}

/* Items */
.item_area{
	padding: 0.5rem;
}
.items {
	font-size: var(--fs-body);
	margin-left: 1rem;
	word-wrap: break-word;
	display: grid;
	grid-template-columns: 25% 74%;
}
@media (min-width: 600px) {
	.items {grid-template-columns: 20% 79%;}
}
@media (min-width: 900px) {
	.items{grid-template-columns: 16% 83%;}
}
.title {
	font-weight: bold;
	text-align: right;
}
.item {
	text-align: left;
	padding-left: 1rem;
}

