{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			  content="width=device-width, initial-scale=1.0">
		<title>Effector database</title>

		<link rel="stylesheet" type="text/css"
			  href="{% static 'database/index.css' %}">
	</head>

	<body>
		<div class="wrapper">
			<a href="{% url 'database:index' %}">
				<header class="title_area">
						<h1 class="title_area--title">Effector database</h1>
				</header>
			</a>

			<section class="redirect_area">
				<!-- Link to submit page -->
				<a href="{% url 'database:submit' %}">
					<section class="button_section submit--button_section">
						<h3 class="button_text submit--button_text">Submit data to database</h3>
					</section>
				</a>
				<!-- Link to view database page -->
				<a href="{% url 'database:databaseViewer' %}">
					<section class="button_section view_database--button_section">
						<h3 class="button_text view_database--button_text">View database</h3>
					</section>
				</a>
			</section>

		</div>
	</body>
</html>

