{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			  content="width=device-width, initial-scale=1.0">
		<title>Effector database</title>

		<link rel="stylesheet" type="text/css"
			  href="{% static 'database/index.css' %}">
	</head>

	<body>
		<div class="wrapper">
			<header class="title_area">
				<a href="{% url 'database:index' %}">
					<h1 class="title_area--title">Effector database</h1>
				</a>
			</header>

			<section class="redirect_area">
				<!-- Link to submit page -->
				<section class="button_section submit--button_section">
					<a href="{% url 'database:submit' %}">
						<div class=button_link>
							<h3 class="button_text submit--button_text">
								Submit data to database
							</h3>
						</div>
					</a>
				</section>
				<!-- Link to view database page -->
				<section class="button_section view_database--button_section">
					<a href="{% url 'database:databaseViewer' %}">
						<div class=button_link>
							<h3 class="button_text view_database--button_text">
								View database
							</h3>
						</div>
					</a>
				</section>
			</section>

		</div>
	</body>
</html>

