{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			  content="width=device-width, initial-scale=1.0">
		<title>Effector database</title>

		<link rel="stylesheet" type="text/css" href="{% static 'database/basepage.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'database/itemViewer.css' %}">
	</head>

	<body>
		<header class="title_area">
			<h1 class="title_area--title">Effector database</h1>
		</header>

		<div class="banner">
			<a class="banner_item banner_item--active" href="{% url 'database:search' %}">Database</a>
			<a class="banner_item" href="{% url 'database:submit' %}">Add sequence</a>
		</div>


		<div class="main_page">

			{% if messages %}
				{% for message in messages %}
					<p class="message message-{{message.tags}}">{{message}}</p>
				{% endfor %}
			{% endif %}

			<dl class="items">
				<dt class="title item_area ">Effector ID</dt>
				<dl class="item item_area">{{ item.effector_id }}</dl>
				<dt class="title item_area">Effector name</dt>
				<dl class="item item_area">
					{% if item.effector_name == '' %}-
					{% else %}{{ item.effector_name }}
					{% endif %}
				</dl>
				<dt class="title item_area">Signal peptide?</dt>
				<dl class="item item_area">
					{% if item.effector_signal_peptide == 'T' %}True
					{% elif item.effector_signal_peptide == 'F'%}False
					{% else %}-
					{% endif %}
				</dl>
				<dt class="title item_area">Effector description</dt>
				<dl class="item item_area">
					{% if item.effector_description == '' %}-
					{% else %}{{ item.effector_description }}
					{% endif %}
				</dl>
				<dt class="title item_area">Effector sequence</dt>
				<dl class="item item_area">
					{% if item.effector_sequence == '' %}-
					{% else %}{{ item.effector_sequence }}
					{% endif %}
				</dl>
			</dl>

			<div class="button_area">
				<a class="button back_button" href="{% url 'database:search' %}">Back to database</a>
				<a class="button edit_button" href="{% url 'database:editItem' item.effector_id %}">Edit</a>
				<a class=" button delete_button"
				href="{% url 'database:deleteItem' item.effector_id %}">Delete</a>
			</div>
		</div>
	</body>
</html>

