{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			  content="width=device-width, initial-scale=1.0">
		<title>Effector database</title>

		<link rel="stylesheet" type="text/css" href="{% static 'database/basepage.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'database/search.css' %}">
	</head>

	<body>
		<header class="title_area">
			<h1 class="title_area--title">Effector database</h1>
		</header>

		<div class="banner">
			<a class="banner_item banner_item--active" href="{% url 'database:search' %}">Database</a>
			<a class="banner_item banner_item--nonactive" href="{% url 'database:submit' %}">Add sequence</a>
		</div>


		<div class="main_page">

			{% if messages %}
				{% for message in messages %}
					<p class="message message-{{message.tags}}">{{message}}</p>
				{% endfor %}
			{% endif %}

			<div class="search_area" id="search_area">
				<form method="get">
					<div class="item_block">
						<label for="effector_id">Effector ID</label>
						<input id="effector_id" type="text" name="effector_id"
					   placeholder="fasta_123" value={{ effector_id }}>
					</div>

					<div class="item_block">
						<label for="effector_name">Effector name</label>
						<input id="effector_name" type="text" name="effector_name"
						placeholder="Effector A" value={{ effector_name }}>
					</div>

					<div class="item_block">
						<label for="effector_signal_peptide">Signal peptide</label>
						<select id="effector_signal_peptide" name="effector_signal_peptide" >
							<option value="" {% if effector_signal_peptide == '' %} selected {% endif %} ></option>

							<option value="T" {% if effector_signal_peptide == 'T' %} selected {% endif %} >True</option>
							<option value="F" {% if effector_signal_peptide == 'F' %} selected {% endif %} >False</option>
						</select>
					</div>

					<div class="submit_button_area">
						<input type="submit" value="Search">
					</div>
				</form>
			</div>

			<table id="effector_sequence_table">
				<tr>
					<th>Effector ID</th>
					<th>Effector name</th>
					<th>Signal peptide?</th>
					<th></th>
				</tr>
				{% if query_set %}
					{% for item in query_set %}
						<tr>
							<td>
								{{ item.effector_id }}</td>
							<td>{{ item.effector_name }}</td>
							<td>
								{% if item.effector_signal_peptide == 'T' %}True
								{% elif item.effector_signal_peptide == 'F'%}False
								{% else %}
								{% endif %}
							</td>
							<td class="view_item--col"><a class="view_item--link"
							href="{% url 'database:itemViewer' item.effector_id %}">View</a></td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td>No data available</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				{% endif %}
			</table>
		</div>
	</body>
</html>

